

.text {
    -fx-font-size: 10pt;
    -fx-color: #101630;
}




#button-style {
    -fx-font-size: 10pt; 
    -fx-background-color: #3A10E5; 
    -fx-text-fill: #ffffff; 
    -fx-border-color: #101630; 
    -fx-border-width: 1;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
  